@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Sedgwick+Ave+Display&display=swap");

$title-font: "DynaPuff";
$normal-font: "Poppins";
$theme-color: rgb(188, 0, 22);
$theme2-color: #ffc736;
